@{
    ViewBag.Title = "Paradise Travels";
}

<div class="jumbotron">
    <h1>Welcome To Paradise</h1>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Tours</h2>
        <p>
           Create a Tour Booking Now
        </p>
        <p><a class="btn btn-default" href="https://localhost:44319/UserTours/Create">Book Now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cruises</h2>
        <p> Create a Cruise Booking Now</p>
        <p><a class="btn btn-default" href="https://localhost:44319/UserCruises/Create">Book Now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Flights</h2>
        <p>Create a Cruise Booking Now.</p>
        <p><a class="btn btn-default" href="https://localhost:44319/Flights/Create">Book Now &raquo;</a></p>
    </div>
</div>